Source: librep
Section: lisp
Priority: optional
Maintainer: Christopher Roy Bratusek <nano@jpberlin.de>
Standards-Version: 3.9.4
Build-Depends: texinfo (>= 4.11-2),
               debhelper (>= 7), dh-autoreconf,
               libgmp3-dev,
               libgdbm-dev,
               libreadline6-dev | libreadline5-dev,
               libncurses5-dev,
               libtool,
               autoconf,
               automake,
               autotools-dev,
               libffi-dev (>= 3.0),
               pkg-config,
               git
Homepage: http://sawfish.wikia.com/

Package: rep
Architecture: any
Depends: ${shlibs:Depends}
Suggests: rep-doc
Description: lisp command interpreter
 rep is a dialect of Lisp, designed to be used both as an extension
 language for applications and as a general purpose programming language.
 .
 It was originally written to be mostly-compatible with Emacs Lisp, but has
 subsequently diverged markedly. Its aim is to combine the best features of
 Scheme and Common Lisp and provide an environment that is comfortable for
 implementing both small and large scale systems. It tries to be a
 "pragmatic" programming language.

Package: librep16
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: embeded lisp command interpreter library
 rep is a dialect of Lisp, designed to be used both as an extension
 language for applications and as a general purpose programming language.
 .
 It was originally written to be mostly-compatible with Emacs Lisp, but has
 subsequently diverged markedly. Its aim is to combine the best features of
 Scheme and Common Lisp and provide an environment that is comfortable for
 implementing both small and large scale systems. It tries to be a
 "pragmatic" programming language.
 .
 This package contains the shared library for applications that embed
 the rep interpreter. You should not need to install this package manually.

Package: librep-dev
Section: libdevel
Architecture: any
Depends: rep, librep16 (>= ${source:Version}), ${shlibs:Depends}
Recommends: rep-doc
Description: development libraries and headers for librep
 rep is a dialect of Lisp, designed to be used both as an extension
 language for applications and as a general purpose programming language.
 .
 It was originally written to be mostly-compatible with Emacs Lisp, but has
 subsequently diverged markedly. Its aim is to combine the best features of
 Scheme and Common Lisp and provide an environment that is comfortable for
 implementing both small and large scale systems. It tries to be a
 "pragmatic" programming language.
 .
 This package contains the files needed to embed the rep interpreter in an
 application.

Package: librep-dbg
Section: debug
Priority: extra
Architecture: any
Depends: librep16 (>= ${source:Version}), ${shlibs:Depends}
Recommends: rep (>= ${source:Version})
Suggests: librep-dev, libncurses5-dbg, libreadline6-dbg | libreadline5-dbg, rep-doc
Description: debug symbols for librep
 rep is a dialect of Lisp, designed to be used both as an extension
 language for applications and as a general purpose programming language.
 .
 This package contains the debug symbols for the interpreter and the embeded
 library. They are only required for debugging.

Package: rep-doc
Section: doc
Architecture: all
Depends: info | info-browser, librep16 (>= ${source:Version}),
         dpkg (>> 1.15.4) | install-info
Description: documentation for the lisp command interpreter
 rep is a dialect of Lisp, designed to be used both as an extension
 language for applications and as a general purpose programming language.
 .
 It was originally written to be mostly-compatible with Emacs Lisp, but has
 subsequently diverged markedly. Its aim is to combine the best features of
 Scheme and Common Lisp and provide an environment that is comfortable for
 implementing both small and large scale systems. It tries to be a
 "pragmatic" programming language.
 .
 This package contains the language documentation in info format.
