#!/usr/bin/make -f

export DH_VERBOSE=1
export LC_ALL=C

version := $(shell sed -n 's/Package: \(librep.*\)/\1/p' debian/control | head -n 1)

DEB_HOST_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS += -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH),m68k))
	CFLAGS = -Wall -g -O0
endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH),alpha))
       ARCH_CONF = --with-stack-direction=-1
endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH),ia64))
       ARCH_CONF = --with-stack-direction=-1
endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH),mips))
       ARCH_CONF = --with-stack-direction=-1
endif

ifeq ($(DEB_HOST_ARCH),$(findstring $(DEB_HOST_ARCH),mipsel))
       ARCH_CONF = --with-stack-direction=-1
endif

%:
	dh $@

override_dh_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

	-rm -rf debian/tmp/usr/info
	-rm debian/tmp/usr/share/info/dir*

	#Create the librep*.install files
	-rm debian/librep-dev.install
	cp debian/librep-dev.install.standard debian/librep-dev.install

	find debian/tmp \
	 -name install-aliases -o -name rep_config.h -o -name *.a -o -name *.jl \
	 | cut -d/ -f3- >> debian/librep-dev.install

	-rm debian/${version}.install
	cp debian/${version}.install.standard debian/${version}.install
	find debian/tmp/usr/lib/rep debian/tmp/usr/share/rep \
	 -name *.la -o -name *.jlc -o -name *.so \
	 | cut -d/ -f3- >> debian/${version}.install

	dh_install --fail-missing
	touch install-stamp